<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content" role="main">
  <h1>{{ title }}</h1>
  <div *ngIf="informations && informations.length" [ngClass]="classes">
    <ul>
      <li *ngFor="let information of informations">{{ information }}</li>
    </ul>
  </div>
  <div *ngIf="!(informations && informations.length)" [ngClass]="classes">
    <p>Aucune information à afficher pour le moment</p>
  </div>
</div>
